services:
  web:
    build: .
    # ports:
    #   - "8080:80"
    environment:
      DB_HOST: mariadb:3306
      DB_NAME: moviefinder
      DB_USER: dbuser
      DB_PASSWORD: ckrbyhrs1cmqx67emsc9dyy803bh9dr31c1cwg16h3btcfj03c
    volumes:
      - public-images:/var/www/html/img

  mariadb:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: qd2993tem4py2hqwbwd4ncr62pfw2kng402xdac5336v9sdsdq
      MARIADB_DATABASE: moviefinder
      MARIADB_USER: dbuser
      MARIADB_PASSWORD: ckrbyhrs1cmqx67emsc9dyy803bh9dr31c1cwg16h3btcfj03c
    volumes:
      - mariadb-data:/var/lib/mysql

volumes:
  public-images:
  mariadb-data: